# Python specific
*.pyc
__pycache__/

# Environment variables
.env

# Virtual environment
venv/
.venv/

# Django specific
*.log
staticfiles/
media/

# Database
db.sqlite3

# macOS specific
.DS_Store

# Vercel specific
.vercel/
