{% extends "layout.html" %}

{% block title %}
  Login Page  
{% endblock  %}

{% block content %}
  <h1 class="p-lg-1 m-3 text-center text-capitalize text-bg-danger p-3 rounded-3"> Login Page </h1>

  <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
<p> Don't have an account?
<a href="{% url 'register' %}" target="_blank" rel="noopener noreferrer">Register here</a>
</p>

{% endblock  %}